[submodule "sourcedata/cneuromod.multfs.raw"]
	path = sourcedata/cneuromod.multfs.raw
	url = /data/neuromod/ria-sequoia/alias/cneuromod.multfs.raw
	datalad-id = d8e66b52-8112-4ddb-8bdc-38cc7fa8f6de
	datalad-url = "ria+file:///data/neuromod/ria-sequoia#~cneuromod.multfs.raw"
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = /data/neuromod/ria-sequoia/alias/templateflow
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
	datalad-url = "ria+file:///data/neuromod/ria-sequoia#~templateflow"
