[submodule "sourcedata/cneuromod.multfs.raw"]
	path = sourcedata/cneuromod.multfs.raw
	url = /data/neuromod/ria-sequoia/alias/cneuromod.multfs.raw
	datalad-id = d8e66b52-8112-4ddb-8bdc-38cc7fa8f6de
	datalad-url = "ria+file:///data/neuromod/ria-sequoia#~cneuromod.multfs.raw"
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = /data/neuromod/ria-sequoia/alias/templateflow
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
	datalad-url = "ria+file:///data/neuromod/ria-sequoia#~templateflow"
[submodule "sourcedata/smriprep"]
	path = sourcedata/smriprep
	url = /data/neuromod/ria-sequoia/alias/cneuromod.anat.smriprep
	datalad-id = f3ef9683-0a58-4d2b-b4eb-d33d8fc3fd2b
	datalad-url = "ria+file:///data/neuromod/ria-sequoia#~cneuromod.anat.smriprep"
[submodule "containers"]
	path = containers
	url = /data/neuromod/ria-sequoia/alias/repronim/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = "ria+file:///data/neuromod/ria-sequoia#~repronim/containers"
